body {
    background-color: rgb(0, 0, 0);
}

.App {
    display: grid;
    grid-template-areas:
        'header header'
        'navbar main';
    gap: 5px;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    margin: auto;
}

.Header {
    border: 1px solid grey;
    grid-area: header;
}

.Navbar {
    border: 1px solid grey;
    grid-area: navbar;
    padding: 10px;
}

.Main {
    border: 1px solid grey;
    grid-area: main;
}

a .active {
    color: gold;
}
