body {
    background-color: white;
}

.App {
    display: grid;
    grid-template-areas:
        'header header'
        'navbar posts';
    gap: 10px;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 10fr;
}

.Header {
    background-color: rgb(155, 155, 255);
    grid-area: header;
}

.Navbar {
    background-color: rgb(185, 147, 221);
    grid-area: navbar;
}

.Posts {
    background-color: rgb(219, 247, 191);
    grid-area: posts;
}
