body {
    background-color: white;
}

.App {
    display: grid;
    grid-template-areas:
        'header header'
        'navbar main';
    gap: 10px;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    margin: auto;
}

.Header {
    background-color: rgb(155, 155, 255);
    grid-area: header;
}

.Navbar {
    background-color: rgb(185, 147, 221);
    grid-area: navbar;
    padding: 10px;
}

.Main {
    background-color: rgb(126, 160, 93);
    grid-area: main;
}

a .active {
    color: black;
}
